{% extends "base.html" %}
{% load static %}
{% block title %} Password-Reset :: MedBoto{% endblock title %}
{% block content %}

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="auth-wrapper auth-v1 px-2">
                <div class="auth-inner py-2">
                    <!-- Reset Password v1 -->
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="javascript:void(0);" class="brand-logo">
                                <img src="{% static 'app-assets/images/logo.png' %}" alt="" style="max-width:50px;">
                                <h2 class="brand-text text-primary my-auto">MedBoto</h2>
                            </a>

                            <h4 class="card-title mb-1">Reset Password 🔒</h4>
                            <p class="card-text mb-2">Your new password must be different from previously used passwords
                            </p>

                            <form class="auth-reset-password-form mt-2" action="" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="hidden" name="uidb64" value="{{uidb64}}" id="uidb64" />
                                    <input type="hidden" name="uidb64" value="{{token}}" id="token" />
                                    <div class="d-flex justify-content-between">
                                        <label for="reset-password-new">New Password {{udbi64}} {{token}}</label>
                                    </div>
                                    <div class="input-group input-group-merge form-password-toggle">
                                        <input type="password" class="form-control form-control-merge"
                                            id="reset-password-new" name="reset-password-new"
                                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                            aria-describedby="reset-password-new" tabindex="1" autofocus />
                                        <div class="input-group-append">
                                            <span class="input-group-text cursor-pointer"><i
                                                    data-feather="eye"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="d-flex justify-content-between">
                                        <label for="reset-password-confirm">Confirm Password</label>
                                    </div>
                                    <div class="input-group input-group-merge form-password-toggle">
                                        <input type="password" class="form-control form-control-merge"
                                            id="reset-password-confirm" name="reset-password-confirm"
                                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                            aria-describedby="reset-password-confirm" tabindex="2" />
                                        <div class="input-group-append">
                                            <span class="input-group-text cursor-pointer"><i
                                                    data-feather="eye"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-block" tabindex="3">Set New Password</button>
                            </form>

                            <p class="text-center mt-2">
                                <a href="page-auth-login-v1.html"> <i data-feather="chevron-left"></i> Back to login
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- /Reset Password v1 -->
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END: Content-->

{% endblock content %}
{% block scripts %}
<!-- Script for the Setnew-password  -->
<script>
    $(".auth-reset-password-form").submit(function () {

        $.ajax({
            url: "{% url 'dashboard:password-reset-confirm' uidb64="+$('#uidb64').val() +" token="+$('#reset-password-confirm').val()+"%}",
            type: "POST",
            data: { "token": $('#token').val(), csrfmiddlewaretoken: '{{ csrf_token }}', "uidb64": $('#uidb64').val(), "password": $('#reset-password-confirm').val(), },
            success: function (response) {
                
                if (response) {
                    Swal.fire({
                        title: 'Invalid Email',

                        icon: 'error',
                        customClass: {
                            confirmButton: 'btn btn-primary'
                        },
                        buttonsStyling: false
                    });
                }else{
                    window.location="http://127.0.0.1:8000/auth/login/"
                }
            }
        })
    });
</script>
{% endblock scripts %}