{% extends "base.html" %}
{% load static %}
{% block title %} Password-Reset :: MedBoto{% endblock title %}
{% block content %}

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="auth-wrapper auth-v1 px-2">
                <div class="auth-inner py-2">
                    <!-- Forgot Password v1 -->
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="javascript:void(0);" class="brand-logo">
                                <img src="{% static 'app-assets/images/logo.png' %}" alt="" style="max-width:50px;">
                                <h2 class="brand-text text-primary my-auto">MedBoto</h2>
                            </a>

                            <h4 class="card-title mb-1">Forgot Password? 🔒</h4>
                            <p class="card-text mb-2">Enter your email and we'll send you instructions to reset your
                                password</p>

                            <form class="auth-forgot-password-form mt-2"
                                method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="forgot-password-email" class="form-label">Email</label>
                                    <input type="text" class="form-control" id="forgot-password-email"
                                        name="forgot-password-email" placeholder="MedBoto@example.com"
                                        aria-describedby="forgot-password-email" tabindex="1" autofocus />
                                        {{form.email}}
                                </div>
                                <button class="btn btn-primary btn-block" tabindex="2">Send reset link</button>
                            </form>

                            <p class="text-center mt-2">
                                <a href="page-auth-login-v1.html"> <i data-feather="chevron-left"></i> Back to login
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- /Forgot Password v1 -->
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END: Content-->

{% endblock content %}
{% block scripts %}
{% if messages %}
{% for msg in messages %}
{% if msg.level_tag == 'success'%}
<script>
    $('#id_email').addClass('form-control');
</script>
<script>
    Swal.fire({
        title: 'Password Reset Mail sent successfully!',
        text: 'Check Your Mail',
        icon: 'success',
        customClass: {
            confirmButton: 'btn btn-primary'
        },
        buttonsStyling: false
    });
</script>
{% else %}
<script>
    Swal.fire({
        title: 'Invalid Email',

        icon: 'error',
        customClass: {
            confirmButton: 'btn btn-primary'
        },
        buttonsStyling: false
    });

</script>
{% endif %}
{% endfor %}
{% endif %}
{% endblock scripts %}