
{% extends "base2.html" %}
{% load static %}
{% block content %}
<style>
    ::-webkit-scrollbar {
        width: 0px;
        /* Remove scrollbar space */
        background: transparent;
        /* Optional: just make scrollbar invisible */
    }
</style>    
<!-- BEGIN: Content-->
<div class="app-content content ">
     <div class="content-overlay"></div>
     <div class="header-navbar-shadow"></div>
     <div class="content-wrapper container-xxl p-0">
         <div class="content-header row">
         </div>
         <div class="content-body">
             <!-- profile info section -->
             <section id="profile-info">
                <div class="row">
                    <!-- left profile info section -->
                    <div class="col-lg-3 col-12 order-2 order-lg-1">
                        <!-- about -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="mb-75">About</h5>
                                <p class="card-text">
                                    Tart I love sugar plum I love oat cake. Sweet ⭐️ roll caramels I love jujubes. Topping cake wafer.
                                </p>
                                <div class="mt-2">
                                    <h5 class="mb-75">Joined:</h5>
                                    <p class="card-text">November 15, 2015</p>
                                </div>
                                <div class="mt-2">
                                    <h5 class="mb-75">Lives:</h5>
                                    <p class="card-text">New York, USA</p>
                                </div>
                                <div class="mt-2">
                                    <h5 class="mb-75">Email:</h5>
                                    <p class="card-text">bucketful@fiendhead.org</p>
                                </div>
                                <div class="mt-2">
                                    <h5 class="mb-50">Website:</h5>
                                    <p class="card-text mb-0">www.pixinvent.com</p>
                                </div>
                            </div>
                        </div>
                        <!--/ about -->

                    </div>
                    <!--/ left profile info section -->

                    <!-- center profile info section -->
                    <div class="col-lg-6 col-12 order-1 order-lg-2" style="height: 90vh; overflow: scroll; overflow-x: hidden !important; ">
                        <!-- post 1 -->
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-start align-items-center mb-1">
                                    <!-- avatar -->
                                    <div class="avatar mr-1">
                                        <img src="../../../app-assets/images/portrait/small/avatar-s-18.jpg" alt="avatar img" height="50" width="50" />
                                    </div>
                                    <!--/ avatar -->
                                    <div class="profile-user-info">
                                        <h6 class="mb-0">Leeanna Alvord</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                    <div class="profile-user-info ml-auto">
                                        <h6 class="mb-0">Updated on</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                </div>
                                <h4>Medical Condition / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>
                                <h4>Medication / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-start align-items-center mb-1">
                                    <!-- avatar -->
                                    <div class="avatar mr-1">
                                        <img src="../../../app-assets/images/portrait/small/avatar-s-18.jpg" alt="avatar img" height="50" width="50" />
                                    </div>
                                    <!--/ avatar -->
                                    <div class="profile-user-info">
                                        <h6 class="mb-0">Leeanna Alvord</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                    <div class="profile-user-info ml-auto">
                                        <h6 class="mb-0">Updated on</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                </div>
                                <h4>Medical Condition / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>
                                <h4>Medication / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>

                            </div>
                        </div><div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-start align-items-center mb-1">
                                    <!-- avatar -->
                                    <div class="avatar mr-1">
                                        <img src="../../../app-assets/images/portrait/small/avatar-s-18.jpg" alt="avatar img" height="50" width="50" />
                                    </div>
                                    <!--/ avatar -->
                                    <div class="profile-user-info">
                                        <h6 class="mb-0">Leeanna Alvord</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                    <div class="profile-user-info ml-auto">
                                        <h6 class="mb-0">Updated on</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                </div>
                                <h4>Medical Condition / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>
                                <h4>Medication / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>

                            </div>
                        </div><div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-start align-items-center mb-1">
                                    <!-- avatar -->
                                    <div class="avatar mr-1">
                                        <img src="../../../app-assets/images/portrait/small/avatar-s-18.jpg" alt="avatar img" height="50" width="50" />
                                    </div>
                                    <!--/ avatar -->
                                    <div class="profile-user-info">
                                        <h6 class="mb-0">Leeanna Alvord</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                    <div class="profile-user-info ml-auto">
                                        <h6 class="mb-0">Updated on</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                </div>
                                <h4>Medical Condition / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>
                                <h4>Medication / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>

                            </div>
                        </div><div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-start align-items-center mb-1">
                                    <!-- avatar -->
                                    <div class="avatar mr-1">
                                        <img src="../../../app-assets/images/portrait/small/avatar-s-18.jpg" alt="avatar img" height="50" width="50" />
                                    </div>
                                    <!--/ avatar -->
                                    <div class="profile-user-info">
                                        <h6 class="mb-0">Leeanna Alvord</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                    <div class="profile-user-info ml-auto">
                                        <h6 class="mb-0">Updated on</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                </div>
                                <h4>Medical Condition / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>
                                <h4>Medication / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>

                            </div>
                        </div><div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-start align-items-center mb-1">
                                    <!-- avatar -->
                                    <div class="avatar mr-1">
                                        <img src="../../../app-assets/images/portrait/small/avatar-s-18.jpg" alt="avatar img" height="50" width="50" />
                                    </div>
                                    <!--/ avatar -->
                                    <div class="profile-user-info">
                                        <h6 class="mb-0">Leeanna Alvord</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                    <div class="profile-user-info ml-auto">
                                        <h6 class="mb-0">Updated on</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                </div>
                                <h4>Medical Condition / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>
                                <h4>Medication / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>

                            </div>
                        </div><div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-start align-items-center mb-1">
                                    <!-- avatar -->
                                    <div class="avatar mr-1">
                                        <img src="../../../app-assets/images/portrait/small/avatar-s-18.jpg" alt="avatar img" height="50" width="50" />
                                    </div>
                                    <!--/ avatar -->
                                    <div class="profile-user-info">
                                        <h6 class="mb-0">Leeanna Alvord</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                    <div class="profile-user-info ml-auto">
                                        <h6 class="mb-0">Updated on</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                </div>
                                <h4>Medical Condition / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>
                                <h4>Medication / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>

                            </div>
                        </div><div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-start align-items-center mb-1">
                                    <!-- avatar -->
                                    <div class="avatar mr-1">
                                        <img src="../../../app-assets/images/portrait/small/avatar-s-18.jpg" alt="avatar img" height="50" width="50" />
                                    </div>
                                    <!--/ avatar -->
                                    <div class="profile-user-info">
                                        <h6 class="mb-0">Leeanna Alvord</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                    <div class="profile-user-info ml-auto">
                                        <h6 class="mb-0">Updated on</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                </div>
                                <h4>Medical Condition / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>
                                <h4>Medication / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>

                            </div>
                        </div><div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-start align-items-center mb-1">
                                    <!-- avatar -->
                                    <div class="avatar mr-1">
                                        <img src="../../../app-assets/images/portrait/small/avatar-s-18.jpg" alt="avatar img" height="50" width="50" />
                                    </div>
                                    <!--/ avatar -->
                                    <div class="profile-user-info">
                                        <h6 class="mb-0">Leeanna Alvord</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                    <div class="profile-user-info ml-auto">
                                        <h6 class="mb-0">Updated on</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                </div>
                                <h4>Medical Condition / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>
                                <h4>Medication / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>

                            </div>
                        </div><div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-start align-items-center mb-1">
                                    <!-- avatar -->
                                    <div class="avatar mr-1">
                                        <img src="../../../app-assets/images/portrait/small/avatar-s-18.jpg" alt="avatar img" height="50" width="50" />
                                    </div>
                                    <!--/ avatar -->
                                    <div class="profile-user-info">
                                        <h6 class="mb-0">Leeanna Alvord</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                    <div class="profile-user-info ml-auto">
                                        <h6 class="mb-0">Updated on</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                </div>
                                <h4>Medical Condition / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>
                                <h4>Medication / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>

                            </div>
                        </div><div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-start align-items-center mb-1">
                                    <!-- avatar -->
                                    <div class="avatar mr-1">
                                        <img src="../../../app-assets/images/portrait/small/avatar-s-18.jpg" alt="avatar img" height="50" width="50" />
                                    </div>
                                    <!--/ avatar -->
                                    <div class="profile-user-info">
                                        <h6 class="mb-0">Leeanna Alvord</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                    <div class="profile-user-info ml-auto">
                                        <h6 class="mb-0">Updated on</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                </div>
                                <h4>Medical Condition / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>
                                <h4>Medication / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>

                            </div>
                        </div><div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-start align-items-center mb-1">
                                    <!-- avatar -->
                                    <div class="avatar mr-1">
                                        <img src="../../../app-assets/images/portrait/small/avatar-s-18.jpg" alt="avatar img" height="50" width="50" />
                                    </div>
                                    <!--/ avatar -->
                                    <div class="profile-user-info">
                                        <h6 class="mb-0">Leeanna Alvord</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                    <div class="profile-user-info ml-auto">
                                        <h6 class="mb-0">Updated on</h6>
                                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                                    </div>
                                </div>
                                <h4>Medical Condition / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>
                                <h4>Medication / Information :</h4>
                                <p class="card-text">
                                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work. This
                                    can make the difference when presenting to clients who are looking for the perfect fit.
                                </p>

                            </div>
                        </div>
                        <!--/ post 1 -->

                    </div>
                    <!--/ center profile info section -->

                    <!-- right profile info section -->
                    <div class="col-lg-3 col-12 order-3">
                        <!-- suggestion -->
                        <div class="card">
                            <div class="card-body">
                                <h5>Reports / Documents</h5>
                                <div class="d-flex justify-content-start align-items-center mt-2">
                                    <div class=" mr-75">
                                        <i class="far fa-file-pdf fa-2x" style="color: red;background-color:transparent;"></i>
                                    </div>
                                    <div class="profile-user-info">
                                        <h6 class="mb-0">Doctor Name</h6>
                                        <small class="text-muted">Date</small>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-icon btn-sm ml-auto">
                                        <i data-feather="download"></i>
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div class="btn btn-primary w-100">
                            Add Record
                        </div>
                        <!--/ suggestion -->
                    </div>
                    <!--/ right profile info section -->
                </div>

                
            </section>
            <!--/ profile info section -->

         </div>
     </div>
 </div>
 <!-- END: Content-->
{% endblock content %} 